.profile__name {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.625rem;
  line-height: 3.5rem;
  margin: 0;
  max-width: 511px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-flex;
}

@media screen and (max-width: 1023px) {
  .profile__name {
    font-size: 2rem;
    max-width: 301px;
  }
}

@media screen and (max-width: 767px) {
  .profile__name {
    margin-top: 16px;
    max-width: 346px;
  }
}

@media screen and (max-width: 424px) {
  .profile__name {
    font-size: 1.6875rem;
    max-width: 256px;
  }
}
