.popup__close-button {
  background-image: url(../../../images/close-button.svg);
  background-position: center;
  position: absolute;
  top: -46px;
  right: -46px;
  width: 58px;
  height: 58px;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: opacity .2s;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 424px) {
  .popup__close-button {
    background-image: url(../../../images/close-button_small.svg);
    width: 43px;
    height: 43px;
    right: -34px;
    top: -34px;
  }
}
