@import url(__heading/register__heading.css);
@import url(__form/register__form.css);
@import url(__input/register__input.css);
@import url(__submit-button/register__submit-button.css);
@import url(__link/register__link.css);

.register {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

@media screen and (max-width: 424px) {
  .register {
    max-width: 260px;
    padding-top: 40px;
    padding-bottom: 42px;
  }
}
